nav {
    position: fixed;
    top: 0;
}

a {
    border: #fe4542 solid 3px;
    color: #fe4542;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
}

.lfLogo {
    border: none;
    margin:10px 0;
}

img {
    height: 35px;
}

span {
    float: right;
}

a.portfolio {
    border: none;
    color: #3b414c;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

a.portfolio:hover {
    color: #fe4542;
    cursor: pointer;
}

a.hello {
    color: #fe4542;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}

a.hello:hover {
    background-color: #fe4542;
    color: white;
    cursor: pointer;
}

.card-img-top {
    width: auto;
    height: auto;
}

.img-thumbnail {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

article {
    flex-direction: column;
}

li {
    display: inline-block;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

tbody {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

