.container {


}

/* section img .heroimage*/ 
.table {
    height: 150px;
    width: 350px;
    border:15px;
    border-color:darkblue;
}
/* section img .heroimage*/ 
.hero {
    width: 800px;
    height: 400px;
    margin-top: 10px;
}
.image3, .image4, .image5, .image6 {
    height: 150px;
    width: 400px;
    border: 15px;
    border-color: darkslategrey;
    size:cover;
    min-height:150px;
}
        <nav class="navbar">
            <div class="d-flex justify-content-end">
                <a class="nav-item portfolio" href=#portfolio>Portfolio</a>
                <a class="nav-resumeLinks" target="_blank" href="./Assets/Louis Falla-Resume-2021.pdf">Resume</a>
                <a class="nav-item contactInfo" href=#contactme>Contact</a>
            </div>
        </nav>
        <section class="welcome my-auto align-self-center">
            <h1 class="devName">Louis Falla, MBA, PMC</h1>
            <h2 class="currentTitle">Technical Project Manager | Full Stack Developer</h2>
            <h3 class="pitch">Global Digital, Technical and Strategy Professional</h3>
        </section>
    </div>
    <div class="pb-5 aboutMe">
        <div class="container">
            <section>
                <div>
                    <h3>Louis Falla, MBA, PMC</h3>
                    <div class="d-flex justify-content-center" style="margin-bottom: 25px;">
                    <div>
                        <p>Proactive, persevering, detail and result-oriented professional with over 10 years of proven leadership and teamwork skills. Effective communicator with the ability to coordinate cross-functional teams efficiently to accomplish challenging objectives and meet critical deadlines in a fast-paced environment. Proven record to consistently exceed goals and an excellent ability to learn quickly,strong analytical, customer building relationship, conflict resolution and multi-tasking skills. BBA in Marketing, MBA in Management and Post Masters' degree in International Business with substantial experience in Direct Marketing, CRM, Operations, International Import and Export management, Social Media and Management. Bilingual English and Spanish.
                        <h4>Skills</h4>
                            <p>Technical: Proficiency in Microsoft Excel, Word, PowerPoint, Outlook, Project, Mac OS, iWork Pages, Numbers, Keynote, PeopleSoft, implementations, Google Analytics, Adobe Photoshop, Agile, Waterfall & Kanban methodologies, QlikView, CyberSource, Confluence, JIRA,Zendesk, Hootsuite, Salesforce, Pentaho, Commerce Cloud, Shopify, Magento, knowledge of SQL Server, HTML, CSS and JavaScript.</p> 
                    </div>
                    </div>
                </div>
            </section>
            <article class=line>
                <!--Article Tag Hero image about the image-->
                <div class="titleplaceholder2"></div>
                <figure><img class="hero" src="Assets/appimages/ballgame.jpeg" alt="ballgame app"></figure>
                <table class="table">
                    <!--first row-->
                    <tr>
                        <th>
                            <!--placeholder for image 3-->
                            <!--title for image-->
                            <div class="titleplaceholderblock"></div>
                            <figure><img class="image3" src="Assets/appimages/planner.jpeg" alt="planner app"></figure>
                        </th>
                        <th>
                        <!--placeholder for image 4-->
                         <!--title for image-->
                        <div class="titleplaceholderblock"></div>
                        <figure><img class="image4" src="Assets/appimages/weatherdashboard.jpeg" alt="weaather app"></figure>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <!--2nd row-->
                            <!-- placeholder for image 5-->
                            <div class="titleplaceholderblock"></div>
                            <figure><img class="image5" src="Assets/appimages/codingquiz.jpeg" alt="code quiz app"></figure>
                        </th>
                        <th>
                            <!--placeholder for image 6-->
                            <!--title for image-->
                            <div class="titleplaceholderblock"></div>
                            <figure><img class="image6" src="Assets/appimages/passwordgenerator.jpeg" alt="password generator app"></figure>
                        </th>
                    </tr>
                </table>
            </article>             
            <footer>
                <div>
                    <h1>Contact</h1>
                </div>
                <div class=contactinfo>
                    <ul>
                        <li><a href="tel:9142824081">914-282-4081</a></li>
                        <li><a href="mailto:lfalla3892@gmail.com">Lfalla3892@gmail.com</a></li>
                        <li><a target="_blank" href="https://github.com/chronoslou">GitHub</a></li>
                        <li><a href="https://twitter.com/falla_lou?lang=en">Twitter</a></li>
                        <li><a href="https://music.apple.com/profile/lou3892">Apple Music</a></li>